.home {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("home-bg.jpeg");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .home {
    background-image: none;
  }
}